<header>
	<div class="container color">
		<h1 ng-attr-contenteditable="{{logued}}" ng-model="itemSobreMi.titulo" strip-br="true"></h1>
	</div>
</header>

<article>
	<div class="container">
		<h2>Introduccion</h2>
		<div ng-attr-contenteditable="{{logued}}" ng-model="itemSobreMi.introduccion" strip-br="true"></div>
		<br>
		<h2 ng-attr-contenteditable="{{logued}}" ng-model="itemSobreMi.subtitulo" strip-br="true"></h2>
		<div ng-attr-contenteditable="{{logued}}" ng-model="itemSobreMi.sobre_mi" strip-br="true"></div>
	</div>
</article>